<a href="https://colab.research.google.com/github/iffatmumtaz/Assignment-4_iffat/blob/main/03_if_statements.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

01_print_events....ye 19 tk counting likhe ga *2 ka mtlb ye ye multipy krega 30 se pehle pehle

In [3]:
def main():
    for i in range(20):
        print(i * 2)

if __name__ == "__main__":
    main()

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38

02_international_voting_age

In [5]:
PETURKSBOUIPO_AGE : int = 16
STANLAU_AGE : int = 25
MAYENGUA_AGE : int = 48

def main():

    user_age = int(input("How old are you? "))

    if user_age >= PETURKSBOUIPO_AGE:
        print("You can vote in Peturksbouipo where the voting age is " + str(PETURKSBOUIPO_AGE) + ".")
    else:
        print("You cannot vote in Peturksbouipo where the voting age is " + str(PETURKSBOUIPO_AGE) + ".")

    if user_age >= STANLAU_AGE:
        print("You can vote in Stanlau where the voting age is " + str(STANLAU_AGE) + ".")
    else:
        print("You cannot vote in Stanlau where the voting age is " + str(STANLAU_AGE) + ".")

    if user_age >= MAYENGUA_AGE:
        print("You can vote in Mayengua where the voting age is " + str(MAYENGUA_AGE) + ".")
    else:
        print("You cannot vote in Mayengua where the voting age is " + str(MAYENGUA_AGE) + ".")

if __name__ == '__main__':
    main()

How old are you? 18
You can vote in Peturksbouipo where the voting age is 16.
You cannot vote in Stanlau where the voting age is 25.
You cannot vote in Mayengua where the voting age is 48.

03_leap_year..leap mtlb jo 4 saal bd ata h. r ye 4 100 400 se divide hojay ye use check krta h

In [11]:
def main():
    year = int(input('Please input a year: '))

    if year % 4 == 0:
        if year % 100 == 0:
            if year % 400 == 0:
                print("That's a leap year!")
            else:
                print("That's not a leap year.")
        else:
            print("That's a leap year!")
    else:
        print("That's not a leap year.")


if __name__ == '__main__':
    main()

Please input a year: 400
That's a leap year!

04_tall_enough_to_ride.

In [17]:
MINIMUM_HEIGHT : int = 60
def main():
    height = float(input("How tall are you? "))
    if height >= MINIMUM_HEIGHT:
        print("You're tall enough to ride!")
    else:
        print("You're not tall enough to ride, but maybe next year!")

if __name__ == '__main__':
    main()

How tall are you? 40
You're not tall enough to ride, but maybe next year!

05_random_numbers

In [30]:
import random

N_NUMBERS: int = 10
MIN_VALUE: int = 1
MAX_VALUE: int = 100

def main():

    for _ in range(N_NUMBERS):
        number = random.randint(MIN_VALUE, MAX_VALUE)
        print(number)

if __name__ == '__main__':
    main()

6
2
48
55
14
8
28
65
85
85