<a href="https://colab.research.google.com/github/iffatmumtaz/Assignment-4_iffat/blob/main/07_information_flow.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

00_choosing_returns.. ye apko 18 ya 18 se zyada age pr adult bole ga yaani true

In [3]:
ADULT_AGE : int = 18

def is_adult(age: int):
    if age >= ADULT_AGE:
        return True

    return False


def main():
    age : str = int(input("How old is this person?: "))
    print(is_adult(age))


if __name__ == "__main__":
    main()

How old is this person?: 23
True

01_greetings

In [5]:
def main():
    name : str = input("What's your name? ")
    print(greet(name))

def greet(name):
    return "Greetings " + name + "!"

if __name__ == '__main__':
    main()

What's your name? 577
Greetings 577!

02_in_range

In [ ]:
def in_range(n, low, high):
    if n >= low and n <= high:
        return True
    return False


def main():
    n = int(input("Enter a number: "))
    low = int(input("Enter lower bound: "))
    high = int(input("Enter upper bound: "))

    if in_range(n, low, high):
        print("Number is in range!")
    else:
        print("Number is out of range.")


if __name__ == '__main__':
    main()

03_in_stock.. ye fruit ka pochta h jo fruit hmre code m h wo type krte to stock k sath btata h

In [13]:
def main():
	fruit : str = input("Enter a fruit: ")
	stock = num_in_stock(fruit)
	if stock == 0:
		print("This fruit is not in stock.")
	else:
		print("This fruit is in stock! Here is how many:")
		print(stock)


def num_in_stock(fruit):

	if fruit == 'apple':
		return 2
	if fruit == 'banana':
		return 4
	if fruit == 'pear':
		return 1000
	else:

		return 0


if __name__ == '__main__':
    main()

Enter a fruit: pear
This fruit is in stock! Here is how many:
1000

04_multiple_returns..user se prompt leta h phrv ek 7 print krta h

In [ ]:
def get_user_info():
    first_name: str = input("What is your first name?: ")
    last_name: str = input("What is your last name?: ")
    email_address : str = input("What is your email address?: ")

    return first_name, last_name, email_address

def main():
    user_data = get_user_info()
    print("Received the following user data:", user_data)

if __name__ == "__main__":
     main()
     ''

05_subtract_7

In [17]:
def main():
	num: int = 7
	num = subtract_seven(num)
	print("this should be zero: ", num)

def subtract_seven(num):
	num = num - 7
	return num


if __name__ == '__main__':
    main()

this should be zero:  0